/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #353535; /* Light gray background */
}

header {
    background-color: #ad7eff; /* Green color */
    color: #d37f7f;
    text-align: center;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add shadow */
}

main {
    padding: 20px;
}

.features {
    background-color: #000000; /* White background */
    padding: 20px;
    margin: -12px auto; /* Center horizontally and add space from top and bottom */
    margin-bottom: 40px; /* Increase space at the bottom */
    color: #ffffff; /* Dark gray text color */
    border-radius: 40px; /* Slightly round the corners */
    text-align: center;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.9); /* Add shadow */
    /*border: 5px solid #F8F7F5;*/
}

.action-buttons {
    text-align: center;
    margin-top: 40px; /* Increase space from the top */
    margin-bottom: 40px; /* Increase space from the bottom */
}

button {
    padding: 10px 20px;
    background-color: #6286EA; /* Green color */
    color: #1b1b1b;
    border: none;
    cursor: pointer;
    margin: 10px; /* Adjust margin */
    transition: background-color 0.3s, transform 0.2s ease-in-out; /* Adjust transition duration and timing function */
    border-radius: 100px; /* Slightly round the corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow */
}

button:hover {
    background-color: #71A5E0; /* Lighter green color */
    transform: scale(1.1);
}

/* Styling for the empty action button */
button.empty-button {
    width: 150px; /* Set width */
    height: 40px; /* Set height */
    background-color: transparent; /* Transparent background */
    border: 1px solid #76ff61; /* Green border */
    margin: 10px; /* Adjust margin */
}
