/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Light gray background */
}

header {
    background-color: #76ff61; /* Green color */
    color: #1b1b1b;
    text-align: center;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add shadow */
}

main {
    padding: 20px;
}

.features {
    background-color: #fff; /* White background */
    padding: 20px;
    margin-bottom: 20px;
    color: #333; /* Dark gray text color */
    border-radius: 15px; /* Slightly round the corners */
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow */
    
}

.features {
    transform:
      perspective(750px)
      translate3d(0px, 0px, -250px)
      rotateX(27deg)
      scale(0.9, 0.9);
    border-radius: 20px;
    border: 5px solid #e6e6e6;
    box-shadow: 0 70px 40px -20px rgba(0, 0, 0, 0.2);
    transition: 0.4s ease-in-out transform;
  
    &:hover {
      transform: translate3d(0px, 0px, -250px);
    }
  }

.features:hover{
  
}

.features abot {
    color: #76ff61; /* Green color */
    font-weight: bold;
    font-size: 36px;
}

.features ul {
    list-style: none;
}

.action-buttons {
    text-align: center;
    margin-top: 20px; /* Adjust spacing */
}

button {
    padding: 10px 20px;
    background-color: #76ff61; /* Green color */
    color: #1b1b1b;
    border: none;
    cursor: pointer;
    margin: 0 10px;
    transition: background-color 0.3s, transform 0.2s ease-in-out; /* Adjust transition duration and timing function */
    border-radius: 5px; /* Slightly round the corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow */
}

button:hover {
    background-color: #8aff82; /* Lighter green color */
    transform: scale(1.3);
}

footer {
    background-color: #76ff61; /* Green color */
    color: #1b1b1b;
    text-align: center;
    padding: 10px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2); /* Add shadow */
}
